.collapse {
  display: flex;
  width: 100%;
  margin: 20px 0;
  justify-content: center;
  align-items: center;
  &__dropdown {
    width: 100%;

    @media screen and (min-width: $breakpoint-desktop) {
      width: 80%;
    }

    &__title {
      @extend %flex-between;
      padding: 0.5em 1em;
      width: 100%;
      background-color: $primary-color;
      margin: 0 auto;
      margin-top: 1.5em;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      @media screen and (min-width: $breakpoint-desktop) {
        width: 100%;
      }

      h2 {
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        font-weight:700px;
        color: $tertiary-color;
      }
      .fa-chevron-down {
        color: $tertiary-color;
      }
      .fa-chevron-up {
        color: $tertiary-color;
      }
    }
    &__title:active .fa-chevron-down {
      transform: rotate(180deg);
      transition: transform 0.3s ease-in-out;
    }
    &__title:active .fa-chevron-up {
      transform: rotate(-180deg);
      transition: transform 0.3s ease-in-out;
    }
    &__content {
      background-color: $secondary-color;
      width: 100%;
      border-radius: 5px;

      @media screen and (min-width: $breakpoint-desktop) {
        width: 100%;
      }

      p {
        @include font(14px, 400);
        font-family: "Montserrat", sans-serif;
        color: #000000;
        margin: 0 auto;
        padding: 0.8em;
        transition: transform 7s ease-in-out;
      }
    }
  }
}
